@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    margin: 0;
    font-family:Montserrat;
}


/* HEADER */

header{
    background-color: rgb(44, 62, 80);
    height: 4.375rem;
    color: white;
    display: flex;
    font-weight: bold;
}
header>div{
    display: flex;
    width: 49vw;
    justify-content: space-around;
    align-items: center;
}
header>div>ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 20vw;
    font-size: 10px;
}


/* SECTION1 */

#section1{
    background-color: rgb(220, 53, 69);
    height: 24rem;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}
#section1>div{
    display: flex;
    width: 25rem;
    justify-content: center;
    align-items: center;
}
#section1>div>p{
    justify-content: center;
    align-items: center;
}

#section1>div>img{
    width: 150px;
    height: 150px;
}
h1{
    font-size: 2.5rem ;
    margin-bottom: 0;
}


/* SECTION2 */
#section2>div>h2{
    margin-bottom: 0;
}
h2{
    font-size: 2rem;
    justify-content: center;
    display: flex;
    color: rgb(44, 62, 80);
}
#section2{
    height:28rem ;
}
#section2 div:nth-of-type(2){
    display: flex;
    justify-content: center;
}
#section2img{
    display: flex;
    flex-wrap: wrap;
    height: 23rem;
    width: 50rem;
    justify-content: center;
}
#section2img>div>img{
    height: 10rem;
    width: 14rem;
    margin: 1rem;
    border-radius: 10px;
}

/* SECTION3 */
section:nth-of-type(3){
    background-color: rgb(220, 53, 69);
    height: 20rem;
}
section:nth-of-type(3) h2{
    color: white;
    padding-top: 2.8rem;
    margin-bottom: 0;
}
section:nth-of-type(3) p{
    color: white;
    font-size: 13px;
    display: flex;
    align-self: center;
    padding: 1rem;
    font-family:Lato;
    line-height: 150%;
    width: 14rem;
}

section:nth-of-type(3)>div:nth-of-type(2){
    display: flex;
    justify-content: center;
    height: 10rem;
}


/* SECTION4 */
section:nth-of-type(4){
    height: 38rem;
}
section:nth-of-type(4)>div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    justify-self: center;
}

section:nth-of-type(4)>div>form>div{
    display: flex;
    /* flex-direction: column; */
    justify-self: center;
    flex-direction: column;
    width: 100%;
}
section:nth-of-type(4)>div>form{
    width: 25rem;
    height: 25rem;
}
input{
    border-style:none none solid none;
    margin: 0.5rem;
    border-bottom-width:0.5px
}
label{
    margin:1rem;
}
#text{
    height: 50%;
}
div>button{
    color: white;
    background-color: rgb(220, 53, 69);
    padding: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 10%;
    border: none;
}

/* FOOTER */


footer{
    background-color: rgb(44, 62, 80);
}
footer p{
    color: white;
}
h4{
    color: white;
    text-align: center;
    width: 100%;
}

footer>div:nth-of-type(2){
    background-color: rgb(26, 37, 47);
    margin: 0;
    height: 2.5rem;
}
footer>div{
    display: flex;
    justify-content: center;
}
footer>div>div>div{
    display: flex;
    justify-content: space-evenly;
    width: auto;
    font-size: 80%;
}
footer>div p{
    font-size: 12px;
    text-align: center;
    line-height: 150%;
}
footer>div:nth-of-type(1){
    height: 14rem;
    /* padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 3rem; */
}
footer>div:nth-of-type(2)>p{
    font-size: 8px;
}
footer>div>div{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 1.5rem;
    margin-left: 3rem;
}
span{
    color:rgb(30, 188, 152);
}
footer i{
    color: white;
    justify-self: center;
    border: solid 1px white;
    border-radius: 50%;
    padding: 10px;
    height: 10px;
    width: 10px;
}


/* MEDIA QUERIES */

@media (max-width:600px){
    header{
        height: 50%;
        width: auto;
    }
    header>div>ul{
        flex-direction: column;
    }


    #section1{
        height: 50%;
        width: auto;
        margin: 0;
    }
    #section1>div{
        width: auto;
        height: auto;
    }
    #section1>div>img{
        height: -50%;
        width: auto;
    }


    #section2{
        height: auto;
    }
    #section2>div>#section2img{
        height: auto;
    }   
    #section2>div>#section2img>div>img{
        height: 4rem;
        width: auto;
    }


    section:nth-of-type(3)>div>h2{
        margin: 0;
        padding: 0;
    }
    section:nth-of-type(3){
    height: auto;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
    }
    section:nth-of-type(3)>div:nth-of-type(2){
        flex-direction: column;
        height: auto;
    }
    section:nth-of-type(3)>div:nth-of-type(2)>div>p{
        text-align: center;
        margin: 0;
        padding: 0;
        justify-self:center;
    }

    section:nth-of-type(4){
        height: auto;
        padding-bottom: 10px;
    }
    section:nth-of-type(4)>div>div{
        display: flex;
        align-self:center;
    }
    section>div:nth-of-type(2)>form>div{
        height: auto;
        width: 20rem;
    }
    
    section>div:nth-of-type(2)>form{
        height: auto;
        width: auto;
    }


    footer>div>div{
        margin: 0;
        padding: 0;
    }
    footer>div>div:nth-of-type(2)>div{
        flex-wrap: wrap;
    }
}